# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# Single maintainer for v1. Update once Arielle's team has GitHub accounts
# and chooses what they want to own.

* @rafaeldavid
